body {
    display: flex;
    justify-content: center;
    text-align: center;
}
img {
    width: 100px;
}
.btn-container {
    display: flex;
    justify-content: center;
}
button {
    width: 120px;
    height: 70px;
    margin: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 8px;
    text-transform: uppercase;
}
button:active {
    transform: scale(0.98);
}
.btnDisable {
    cursor: default;
    color: rgb(172, 172, 172);
    background-color: rgb(70, 0, 0);
}
.btnEnable {
    cursor: pointer;
    color: white;
    background-color: darkred;
}